:root {
  font: 20px sans-serif;
}

input[type=radio] {
  display: none;
}

label {
  display: inline-block;
  border: 2px solid;
  padding: 2px;
  min-width: 80px;
}

*[data-yes],
*[data-no] {
  display: none;
}

input[id$=yes]:checked ~ div > label[for*=no] {
  opacity: .25;
}

input[id$=no]:checked + div > label[for*=yes] {
  opacity: .25;
}

input[id$=yes]:checked ~ div > *[data-yes] {
  display: block;
}

input[id$=no]:checked ~ div > *[data-no] {
  display: block;
}

input[id$=no-jump]:checked ~ #jump {
  display: block;
}

input[id$=no]:not(:checked) ~ #jump *[data-no] {
  display: none;
}
