:root {
  font: 24px / 1.2 sans-serif;
  color: sienna;
  text-align: center;
  box-sizing: border-box;
}

body {
  min-height: 90vh;
  margin: 0;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main,
footer {
  margin-top: auto;
}

h1 {
  font-size: 1rem;
  font-weight: 400;
  color: sienna;
}

p {
  font-weight: 700;
}

button {
  font-size: .7rem;
  background: tan;
  color: #4f2609;
  border: none;
  cursor: pointer;
  width: 120px;
  padding: 8px;
  margin: 0 4px;

  transition: color .3s ease, background .3s ease;
}

button:hover {
  background: sienna;
  color: white;
}

footer {
  font-size: .5rem;
}

button#restart {
  background: white;
  font-size: .5rem;
}

button#restart:hover {
  color: #4f2609;
  background: tan;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 800px) {
  :root {
    font-size: 36px;
  }
}
